{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        {{ form_errors(editBadges) }}

        {{ form_start(editBadges) }}
            <p>Badges : {{ form_row(editBadges, {'label': false})}}</p>
                <button type="submit" class="btn">Appliquer</button>
        {{ form_end(editBadges) }}
    {% else %}
        
        Vous n'avez pas accès à cette page.

    {% endif %}
{% endblock %}
