html {
  scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin : 0;
    font-family: "Inria", sans-serif;
  }

body{
  min-height: 100vh;
  height: fit-content;
}

main{
  min-height: 100vh;
  height: fit-content;
}

/* 
=====================================================
====================== HEADER =======================
=====================================================
 */

 header{
    display: flex;
    top: 0;
    position: sticky;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    color: white;
    font-size: 16px;
    background-size: cover;
    background: black;
    background-position:0% 61%;
    background-repeat: no-repeat;
    height: 50px;
    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.61) 0px 19px 38px, rgba(0, 0, 0, 0.445) 0px 15px 12px;
}

nav{
    display: flex;
    justify-content:space-between;
    padding: 0% 5%;
    width: 100%;
    background-image:linear-gradient(0.90turn, black 10%, rgba(255, 255, 255, 0));
    height: 100%;
}

#nav-left{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-left img{
    height: 40px;
}

#nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#navbarphone{
    display:none;
}

header a{
    color: white;
    transition: 0.5s;
}

a:link { 
    text-decoration: none; 
} 
a:visited { 
    text-decoration: none; 
} 
header a:hover { 
    color: hsl(0, 0%, 75%);
    transition: 0.5s;
} 
a:active { 
    text-decoration: none; 
}

.homeBtn{
    display: flex;
    justify-content: center;
    gap: 10px;
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.greyPart{
    width: 2px;
    height: 70%;
    background-color: grey;
}

.homeBtn:hover { 
    color: hsl(0, 0%, 0%);
    transition: 0.2s;
    transform: translate(0px, -3px);
    box-shadow: rgba(255, 255, 255, 0.4) 0px 2px, rgba(255, 255, 255, 0.3) 0px 4px,rgba(255, 255, 255, 0.2) 0px 6px, rgba(255, 255, 255, 0.1) 0px 8px, rgba(255, 255, 255, 0.05) 0px 10px;
} 

.homeBtn:active { 
    transition: 0.2s;
    transform: translate(0px, 0px);
    box-shadow: none;
} 

.account{
    display: flex;
    gap: 10px;
}

.settings{
    display: flex;
    position: relative;
}

#settingsMenu{
    display:none;
    justify-content: center;
    position: absolute;
    top: 200%;
    right: 0%;


}

#settingsMenu ul{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    list-style-type: none;
    color:black;
    border-radius: 10px;
    overflow: hidden;
}

#settingsMenu li{
    background-color: rgb(241, 241, 241);
    padding: 10% 10%;
    width: 150px;
    border-bottom: solid;
    border-color: rgb(73, 73, 73);
    transition: 0.2s;
}

#settingsMenu li:hover{
    transition: 0.2s;
    background-color: rgb(185, 185, 185);
}

#settingsMenu a{
    color:black;
}

.btnSignUp{
    margin: 15px 0px;
    padding: 10px 10px;
    border-radius: 8px;
    border: solid;
    border-width: 1px;
    border-color: black;
    color: white;
    background-color: #CA7D28;
    transition: 0.5s;
}

.btnSignUp:hover{
    transition: 0.5s;
    background-color: #b65e00;
    transform: translate(0px, -3px);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.menuBurger{
    display: none;
}
#navbarphone{
    display:none;
}

.restrictPage{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #150E07;
}

.messageRestrict{
    height: fit-content;
    font-size: large;
    text-wrap:balance;
    text-align: center;
    background-color: #000000;
    padding: 20px;
    border-radius: 20px;
    width: 50%;
}

.messageRestrict a{
    color: white;
}

.messageRestrict div{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.87) 0px 19px 38px, rgba(0, 0, 0, 0.705) 0px 15px 12px;
}

/* 
=====================================================
======================= HOME ========================
=====================================================
 */

.imageSliderContainer{
    width: 100%;
    height: 93vh;
    object-fit: cover;
    position: relative;
    filter: drop-shadow(0px 0px 20px hsl(0, 0%, 0%));

}

.imageSliderContainer article{
    position: absolute;
    top: 50px;
    left: 100px;
    z-index: 99;
    background: none;
}

.imageSliderContainer article img{
    width: 500px;
    background: none;
}

.imageSliderContainer article p{
    background: none;
    color: white;
    font-size: large;
    padding: 20px;
}



.imageSlider{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    transition: 1s;
    overflow: hidden;
}

.imageSlider::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #000000 0%, #000000 35%, #ffffff00 50%, #ffffff00 100%);
}

.imageSlider img{
    height: 100%;
    right: -200px;
    top: 0;
    opacity: 0;
    position: absolute;
    transition: 1s;
}

.imageSlider video{
  right: 0;
  height: 100%;
  top: 0;
  opacity: 0;
  position: absolute;
  transition: 1s;
}

.imageSlider .active{
    opacity: 1;
    transition: 1s;
}

.News{
    padding: 10px;
    background-color:black;
    display:flex;
    flex-direction: column;
    overflow: hidden;
}

.News ul{
    display:flex;
}

.News li{
    list-style: none;
    height: 500px;
    width: 400px;
    font-size: small;
    color:white;
    background: 
        radial-gradient(ellipse at top left, #e06b6b, transparent),
        radial-gradient(ellipse at bottom right, #9d0000, transparent);
    margin: 50px 10px;
}

.News li img{
    width: 400px;
}

.News li article{
    padding: 20px;
    position: relative;
    height: 270px;
}

.News li a{
    position: absolute;
    bottom:20px;
    right:20px;
}

.tekkenFranchise{
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, #6D0002 0%, #1f1f1f 50%, #6D0002 100%);;
}

.tekkenFranchise img{
    background: none;
    width: 400px;
    filter: drop-shadow(0px 0px 30px hsl(0, 0%, 0%));
    padding-bottom: 40px;
}

.tekkenFranchise p{
    background: linear-gradient(to bottom, #002553 0%, #003f87 100%);;
    color: white;
    padding: 30px;
    border-radius: 16px;
    /* box-shadow: rgba(75, 46, 240, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px; */
    /* border: solid 5px black; */
    filter: drop-shadow(0px 20px 20px hsl(0, 0%, 6%));
    box-shadow: #002f64 0px 20px;
}

.tekkenFranchise .block1{
    width: 70%;
    text-align:justify;
    text-wrap:balance;
    margin-bottom: 80px;
}

.tekkenFranchise .block2{
    background: none;
    width: 100%;
    height: 800px;
    position: relative;
}

.block2 .videoContainerRight{
    padding: 0;
    margin-top: 60px;
    background:none;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 66px 0px 0px 66px;
    overflow: hidden;
    filter: drop-shadow(0px 20px 20px hsl(0, 0%, 0%));
}

.tekkenFranchise .block2 video{
    display: block;
    z-index: -99;
    background:none;
    width: 1000px;
    height: Auto;
}

.tekkenFranchise .block2 p{
    position: absolute;
    width: 600px;
    height: fit-content;
    top: 500px;
    left: 100px;
}

.tekkenFranchise .block3{
    background: none;
    width: 100%;
    height: 1000px;
    position: relative;
}

.block3 .videoContainerLeft{
    padding: 0;
    margin-top: 60px;
    background:none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0px 66px 66px 0px;
    overflow: hidden;
    filter: drop-shadow(0px 20px 20px hsl(0, 0%, 0%));
}

.tekkenFranchise .block3 video{
    display: block;
    z-index: -99;
    background:none;
    width: 1000px;
    height: Auto;
}

.tekkenFranchise .block3 p{
    position: absolute;
    width: 600px;
    height: fit-content;
    top: 500px;
    right: 100px;
}

.tekkenFranchise .block4{
    background: none;
    width: 100%;
    height: 1000px;
    position: relative;
}

.block4 .videoContainerMiddle{
    padding: 0;
    margin-top: 60px;
    width: 100%;
    background:none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
    filter: drop-shadow(0px 20px 20px hsl(0, 0%, 0%));
}

.tekkenFranchise .block4 video{
    display: flex;
    width: 100%;
    z-index: -99;
    background:none;
    transform: translateY(-450px);
}

.tekkenFranchise .block4 p{
    position: absolute;
    width: 60%;
    height: fit-content;
    top: 400px;
    left: 20%;
}

.roster{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  transition: 1s;
  overflow: hidden;
}

.roster::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #002c5f 0%, #001b3b 30%, #001b3bd1 35%, #ffffff00 50%, #ffffff00 100%);
}



/* 
=====================================================
================= LISTE DES PERSOS ==================
=====================================================
 */

.container {
  width: 100%;
  height: 3000px;
  display: flex;
  justify-content: center;
}
  
.character-collection {
  height: 80%;
  width: 100%;
  max-height: 40vh;
  display: flex;
  justify-content: center;
  gap: 50px;
  list-style: none;
  flex-wrap: wrap;
}

.character-collection a{
  padding-top: 30px;
  width: 250px;
  height: fit-content;
}
  
.character-collection li {
  display: flex;
  width: 250px;
  height: 300px;
  position: relative;
  background-position: center -40px;
  background-repeat: no-repeat;
  background-size: 700%;
  background-color: rgb(7, 14, 22);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  pointer-events: none;
  text-align: center;
  transition: 0.3s;
}
          
.character-collection li:hover {
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  background-image: none;
  z-index: 10;
  transform: scale(1.1);
}
  
.character-collection img {
  width: 500px;
  opacity: 0;
  position: absolute;
  top: -25%;
  left: -50%;
  transition: 0.3s;
}
  
.character-collection p {
  position: absolute;
  display: inline;
  opacity: 1;
  color: rgb(219, 219, 219);
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: capitalize;
  text-shadow: 0px 2px 8px black;
  left: -10px;
  z-index: 30;
  right: -10px;
  bottom: 10px;
}
  
.hover-person {
  width: 100%;
  height: 100%;
  filter: grayscale(200%) opacity(0%);
  position: absolute;
  background: rgb(52, 52, 52);
  pointer-events: auto;
  transition: 0.3s;
}

.hover-person:hover {
  filter: grayscale(0%) opacity(90%);
  transition: 0.3s;
}
          
.hover-person:hover ~ img {
  opacity: 1;
  display: block;
  position: absolute;
  z-index: 35;
  top: -25%;
  left: -50%;
  width: 500px;
  transition: 0.3s;
}
  
.hover-person:hover ~ p {
  display: inline;
  position: absolute;
  left: -10px;
  z-index: 36;
  right: -10px;
  bottom: 10px;
}