{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}

    <h1>Listes des catégories</h1>

    {% for category in categorys %}
        <a href="{{ path('show_listTopicsInCategory', { 'id':category.id }) }}">{{ category.name }}</a><br>
    {% endfor %}

{% endblock %}
